main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

p {
  width: 100vw;
  text-align: center;
  margin: 0;
}

span {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  border: 1px solid black;
  margin: 1px;
}
